footer a {
  color: #d5d5d5;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
  overflow: hidden;
}
.logo {
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
.fa-question {
  font-size: 3em;
}
