<div class="container">
    <div class="forms-container">
        <div class="signin-signup">

            <form action="#" class="sign-in-form">

                <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/psicored2-231ed.appspot.com/o/logo%2FLogo%20250x250.png?alt=media&token=fa4d9d7c-284d-4139-9958-e5d6545c115e" alt="">
                <h2 class="title">Iniciar Sesión</h2>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="email" />
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="contraseña" />
                </div>

                <a href="#" class="recover-password">recupere su contraseña</a>
                <input type="submit" value="entrar" class="btn solid" />

                <p class="social-text">o ingresa con tus redes sociales</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>

            </form>

            <form action="#" class="sign-up-form">
                <h2 class="title">Registrarse</h2>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Rut" />
                </div>

                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" />
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="contraseña" />
                </div>

                <input type="submit" class="btn" value="Registrarse" />
            </form>

        </div>
    </div>

    <div class="panels-container">

        <div class="panel left-panel">
            <div class="content">
                <h3>Registrarse</h3>
                <p>
                    Registrarte es gratis,beneficiosdassadajdlajdalkdjsadlajdlasjd.
                </p>
                <button class="btn transparent" id="sign-up-btn">
                  Registrarse
              </button>
            </div>
        </div>

        <div class="panel right-panel">
            <div class="content">
                <h3>Iniciar Sesión</h3>
                <p>
                    Ya tienes una cuenta creada, inicia sesión!
                </p>
                <button class="btn transparent" id="sign-in-btn">Iniciar Sesión</button>
            </div>
        </div>

    </div>

</div>